@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-primary: hsl(0, 0%, 100%);
  --color-bg: hsl(203, 58%, 25%);
  --color-input: hsl(213, 53%, 16%);
  --color-popup: hsla(213, 53%, 16%, 0.54);


  --text-color-light: hsl(0, 0%, 100%);
  --text-color-dark: hsl(212, 57%, 5%);
  --text-color-darker: hsl(212, 57%, 5%, 0.4);
  --tag-color: hsl(177, 96%, 36%);
  --button-color: hsl(39, 90%, 49%);

  --global-border-radius: 0.5rem;
  --global-transitions: all .2s ease-in-out
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

html {
  font-size: 1rem;
  font-family: 'Inter',
    sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--text-color-light);
}

h1 {
  font-size: 2.375rem;
  line-height: 1.25;
  margin: 0 0 .5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.15;
  margin: 0 0 .5rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
}




/* ------ */

.container header {
  background-color: var(--text-color-dark);
  padding: 1.5rem 6.25rem;
  margin-bottom: 2rem;
  width: 100%;

  margin-bottom: 2.5rem;
}

.container header .headerInnerText {
  color: var(--button-color);
}

main {
  padding: 0 6.25rem;
  margin-bottom: 2.5rem;
}

main h1 {
  margin-bottom: 2.75rem;
}

main form {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 3rem;
}

main form label {
  font-size: 1rem;
}

main form .inputArea {
  display: flex;
  align-items: center;
  gap: .4rem;
  background-color: var(--color-input);

  border-radius: var(--global-border-radius);
  margin-top: 1rem;
}

main form .inputArea input {
  background-color: red;
}

main form .inputArea input[type="text"] {
  padding-left: 1rem;
  width: 100%;
  height: 2.75rem;

  background: url(./images/search.svg) .75rem center no-repeat;
  background-color: transparent;
  color: var(--text-color-light);
  padding-left: 2.25rem;
}

main form .inputArea button {
  background-color: var(--button-color);
  padding: .8rem;
  border-radius: var(--global-border-radius);
}

main form .inputArea button:hover {
  cursor: pointer;
  opacity: .85;
}

main form .formMsg {
  font-size: 0.875rem;
  background-color: var(--color-popup);
  padding: 1rem 1.25rem;
  margin-left: 1rem;
  width: 70%;
  border-radius: var(--global-border-radius);

  position: relative;
  transform: translate3d(0, -100%, 0);
  z-index: -1;
  opacity: 0;
  transition: var(--global-transitions);
}

main form .formMsg.visible {
  transform: translate3d(0, 0, 0);
  z-index: 1;
  opacity: 1;
}

.citiesWeather {
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* background-color: yellow; */
}

.citiesWeather .city {
  width: 100%;
  background-color: var(--color-primary);
  border-radius: var(--global-border-radius);
  padding: 3rem;
}

.citiesWeather .city img {
  width: 6.125rem;
  display: block;
  margin: .8rem auto;
}

.citiesWeather .city .cityConditions {
  text-align: center;
  color: var(--text-color-dark);
}

.citiesWeather .city .cityConditions .cityTemp p {
  text-transform: uppercase;
  color: var(--text-color-darker);
  margin-bottom: .8rem;
}


.citiesWeather .city .cityConditions .cityCountry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}


.citiesWeather .city .cityConditions .cityCountry p {
  font-weight: 700;
}

.citiesWeather .city .cityConditions .cityCountry span {
  background-color: var(--tag-color);
  padding: .4rem;
  border-radius: var(--global-border-radius);
  color: var(--text-color-light);
}



footer {
  padding: 0 6.25rem;
}

footer .foot {
  color: var(--button-color);
}

@media (max-width: 900px) {
  .container header {
    padding: 1.5rem 1.5rem;
  }

  main {
    padding: 0 1.5rem;
  }

  .citiesWeather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  footer {
    padding: 0 1.5rem;
  }
}